html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#dzieuo {
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	height: 100%;
}

.dz-column {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.dz-row {
    height:400px;
    margin-top:10px;
    border-top:1px solid gray;
}

#dzViewPort {
	top: 0;
	left: 0;
	position: relative;
}

#dzHorizontalNav {
	position: fixed;
	top: 200px;
    width:95%;
}

#dzHorizontalPaging{
    position:fixed;
    top:0px;
    width:100%;
    text-align:center;
}

#dzHorizontalPaging .dz-paging-item{
    width:20px;
    height:20px;
    margin:4px;
    border:1px solid gray;
    display:inline-block;
}

#dzHorizontalPaging .dz-paging-item.current{
    width:20px;
    height:20px;
    margin:4px;
    border:1px solid gray;
    display:inline-block;
	background:pink;
}

#dzHorizontalNav #dzNextArrow{
    position:absolute;
    right:0;
}

#dzHorizontalNav #dzPrevArrow{
    position:absolute;
    left:0;
}

#dzVerticalNav {
	position: absolute;
	top: 300px;
}
