html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#dzieuo {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    height: 100%;
}

.dz-column {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color:red;
}

.dz-row {
    height: 400px;
}

#dzViewPort {
    top: 0;
    left: 0;
    position: relative;
}

#dzHorizontalNav {
    position: fixed;
    top: 200px;
    width: 95%;
}

#dzHorizontalPaging {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

    #dzHorizontalPaging .dz-horizontal-paging-item {
        width: 20px;
        height: 20px;
        margin: 4px;
        border: 2px solid #DEDEDE;
        display: inline-block;
        border-radius:20px;
    }

        #dzHorizontalPaging .dz-horizontal-paging-item.current {
            width: 20px;
            height: 20px;
            margin: 4px;
            border: 2px solid #ADA8A8;
            display: inline-block;
            background: #FFFED2;
        }

#dzVerticalPaging {
    position: fixed;
    right: 130px;
    background: white;
    top: 200px;
}

    #dzVerticalPaging .dz-vertical-paging-item {
        width: 20px;
        height: 20px;
        margin: 4px;
        border: 2px solid #DEDEDE;
        display: block;
        border-radius:20px;
    }

        #dzVerticalPaging .dz-vertical-paging-item.current {
            width: 20px;
            height: 20px;
            margin: 4px;
            display: block;
            background: #FFFED2;
            border: 2px solid #ADA8A8;
        }



#dzHorizontalNav #dzNextArrow {
    position: absolute;
    right: 0;
    background: white;
}

#dzHorizontalNav #dzPrevArrow {
    position: absolute;
    left: 0;
    background: white;
}

#dzVerticalNav {
    position: fixed;
    top: 300px;
    right: 200px;
    background: white;
    text-align: center;
}

.dz-nav-arrows {
    display: block;
}
